<mat-form-field [formGroup]="formGroup">
  <mat-label>Select an expansion</mat-label>
  <mat-select [(value)]="this.displayingService.default" (selectionChange)="onChangeExpansion()" formControlName="ExpansionsControl">
    <mat-option *ngFor="let expansion of this.displayingService.getSets()" [value]="expansion">
      {{ expansion }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<div class="card-list" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="this.displayingService.drop($event)">
    <a *ngFor="let card of this.displayingService.cards" (click)="onClick(card.cardId)">
      <img cdkDrag   class="cardImg " src="{{this.displayingService.getCardImage(card)}}"
      onerror="this.onerror=null; this.src='assets/cardback.png'">
      </a>

</div>
