<div class="container">
    <div class="row">
        <div class="col s12 m9 l10">
            <div id="introduction" class="section scrollspy">
                <div class="header">Introduction </div>
                <p>
                    I made this portfolio to collect all of my work from my semester of Smart Mobile in a single place.
                </p>
                <p>
                    In the first 4 weeks, I'm attending workshops about Progressive Web Apps and UX design.
                    For every day of Smart Mobile, I'll write a summary of the work I've done and what I took away from
                    the workshops.
                </p>
            </div>

            <div id="week-1-day-1" class="section scrollspy">
                <div class="header">Week 1 Day 1 </div>

                <div class="sub-header">
                    Workshop PWA1
                </div>
                <p>
                    On the first day, I attended the workshop PWA1. I made a simple app with an index.html and the
                    javascript to add the worker and the manifest, to successfully deploy my first PWA-app and install
                    it on my phone.
                </p>
                <p>
                    I was interested in making a more maintainable PWA, and so I looked into combining PWA with Angular.
                </p>
                <p>
                    By using the npm angular/pwa package I managed to add the ServiceWorker module to my Angular
                    application, allowing me to deploy and install my Angular application as a PWA.
                </p>

                <div class="sub-header">
                    Personal research
                </div>
                <p>
                    I decided to start working on my own PWA, I thought of an app that allows the user to view
                    Hearthstone cards, save them lists on their
                    phone, and possibly talk to others about aspects of the cards. I found an API that would allow me to
                    build that, so I looked into
                    caching data from http calls using the Angular ServiceWorker module.
                </p>

                <p>
                    Git for the project: <a target="blank"
                        href="https://github.com/Yori1/hearth-viewer">https://github.com/Yori1/hearth-viewer</a>
                </p>
            </div>

            <div id="week-1-day-2" class="section scrollspy">
                <div class="header">Week 1 Day 2</div>
                <div class="sub-header">Workshop UX 1</div>
                <p>
                    I read an article about Lean UX in preparation for the class.
                    In this workshop, we discussed the usability pyramid, and what the foundations of UX are.
                    I made a suggestion for a workshop about iterative design, as I felt that was very relevant to the DUO App assignment.
                </p>
                <div class="sub-header">Portfolio setup</div>
                <p>
                    The majority of the day I spent setting up my portfolio. <br/>
                    I decided to make my portfolio in the form of a website, and added it to my Angular app as a separate component.
                </p>
                <p>
                        I looked up how to make the content menu that uses a scrollspy
                        from the Materialize framework. 
                </p>
       
            </div>

            <div id="sources" class="section scrollspy">
                <div class="header">Sources </div>
                <p><a
                        href="https://medium.com/poka-techblog/turn-your-angular-app-into-a-pwa-in-4-easy-steps-543510a9b626">
                        Turn your Angular App into a PWA in 4 Easy Steps by Etienne Talbot
                    </a></p>
                <p><a href="https://rapidapi.com/omgvamp/api/hearthstone">
                        Hearthstone API
                    </a></p>
                <p>
                    <a href="https://www.interaction-design.org/literature/article/a-simple-introduction-to-lean-ux">
                        A Simple Introduction to Lean UX
                    </a>
                </p>

            </div>
        </div>
        <div class="col hide-on-small-only m3 l2">
            <ul class="section table-of-contents">
                <li><a href="#introduction">Introduction</a></li>
                <li><a href="#week-1-day-1">Week 1 Day 1</a></li>
                <li><a href="#week-1-day-2">Week 1 Day 2</a></li>
                <li><a href="#sources">Sources</a></li>
            </ul>
        </div>
    </div>

</div>