<a [routerLink]="['/addCards', this.listId]">
  <button mat-button>Add new cards</button>
</a>


<div class="card-list" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="this.displayingService.drop($event)">
    <a *ngFor="let card$ of this.listService.cardsInList">
      <div *ngIf="card$ | async as card">
          <div>Title: {{card[0].cardName}}</div>

          <img cdkDrag   class="cardImg " src="{{this.displayingService.getCardImage(card[0])}}"
          onerror="this.onerror=null; this.src='assets/cardback.png'">
      </div>
      </a>

</div>
